body {
    margin: 0;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.tooltip {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}

.tooltip:hover {
    text-decoration-style: dashed;
}

#choose_language {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#disappearing_gradient {
    transition-duration: 2s;
    transition-property: background-color;
    z-index: -1;
    position: fixed;
    width: 100lvw;
    height: 100lvh;
    background-color: #000;
}

.hover_for_gradient:hover > #disappearing_gradient {
    transition-duration: 2s;
    transition-property: background-color;
    background-color: #030;
}

.main_container {
    margin: 7.5lvh 7.5%;
}

h1 {
    margin-top: 0;
    text-align: center;
    vertical-align: text-top;
    font-family: 'Fipps';
    font-size: 10lvw;
}

hr {
    height: 8px;
    border: 0;
    background-color: white;
    width: 94%;
    margin: 0 3%;
}

footer {
    margin: 7.5lvh 7.5lvw;
}

@font-face {
    font-family: 'Fipps';
    src: url('Fipps-Regular.otf');
}