.navbar {
    background-color: aqua;
    height:5lvh;
    display: flex;
    justify-content: center;
    align-items: end;
    width:100%;

}
body {
    margin:0 ;
}


.centercontainer {

    display: flex;
    justify-content: end;
    align-items: center;
    width :100%;
    
}